@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .flex-center {
        @apply flex items-center justify-center;
    }
}
:root {
    --primary-bg-color: #F6F9FA;
    --secondary-bg-color: #FFFFFF;
    --primary-header-color: #262626;
}